{% extends "base_layout.html" %}

{% block content %}

  <div class="content">

    <section class="application_accepted">
      <div class="container">

        <div class="timer__items">
          <div class="timer__item hours">14</div>
          <div class="timer__point">:</div>
          <div class="timer__item minutes">32</div>
        </div>

        <h3>Ваша заявка на покупку товара в кредит принята</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.

      </div>
    </section>

  </div>

{% endblock content %}