{% extends "base_layout.html" %}
{% block content %}

  <div class="content">

    <section class="create_order">
      <div class="container">

        <h2>Создать заказ</h2>
        <div class="create_order_content">

          <div class="tabs">
            <ul class="tabs__caption">
              <li class="active">Ваш товар</li>
              <li id='condition_tab' >Условия кредита</li>
              <li>Доставка</li>
            </ul>

            <div class="tabs__content active">
              <p class="tabs_subtitle">Вставте ссилку на товар из любого доступного интернет магазина</p>
              <form method="post" action = "api/update_user_info" class="links_form">
                  {% csrf_token %}
                <label><input type="text" name="links" placeholder="{{goods_link}}">
                </label>
              </form>

              <div class="tabs__block_result_search">

                <h6>Название товара</h6>
                <h3 class="heading_title">{{good.name}}</h3>
                <h6>Описание товара</h6>
                <div class="product_options">
                  {{good.description}}
                </div>
                <h6>Характеристики товара</h6>
                <div class="product_options">
                  <ul>
                      {% for a in good.attributes %}
                          <li>{{a}}</li>
                      {% endfor %}
                  </ul>
                </div>

                <h6>Магазин</h6>
                <a href="#" class="score">{{good.shop}}</a>

                <h6>Цена товара</h6>

                <p class="price">{{good.price}} грн.</p>

                <h6>Фото товара</h6>

                <div class="block_photo">
                  {% for image in good.photos %}
                  <a href="{{image}}" class="gallery" data-fancybox="images" rel="group"><img src="{{image}}"
                    class="img-responsive"
                    alt=""></a>
                  {% endfor %}
                </div>

                <h6>Предложения банков для кредитирования (3 доступных)</h6>

                <ul class="credit">
                  <li><a href="#" class="active">КредитОнлайн</a></li>
                  <li><a href="#" class="active">КредитОнлайн</a></li>
                  <li><a href="#" class="active">ШвидкоГроші</a></li>
                  <li><a href="#">КредитОнлайн</a></li>
                  <li><a href="#">КредитОнлайн</a></li>
                </ul>

                <h6>Платеж по кредиту от:</h6>

                <p class="percent">12%</p>

                <a href="#" class="btn" onclick="
                    var etype = 'click'
                    var el = document.getElementById('condition_tab')
                    if (el.fireEvent) {
                      el.fireEvent('on' + etype);
                    } else {
                      var evObj = document.createEvent('Events');
                      evObj.initEvent(etype, true, false);
                      el.dispatchEvent(evObj);
                    }
                ">Далее</a>
                <a href="#" class="favorites">
                  <p>В избранное</p>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </div>


            </div>

            <div class="tabs__content">
              <p class="tabs_subtitle">Товар</p>
              <a href="#" class="credit_terms_links"
                target="_blank">{{goods_link}}</a>

              <div class="block_product_credit_terms">
                <div class="block_img">
                  <img src="{{good.photo}}" class="img-responsive" alt="">
                </div>
                <div class="block_text">
                  <h3 class="heading_title">{{good.name}}</h3>
                  <div class="product_options">
                    {{good.description}}
                  </div>

                  <div class="bl_bottom">
                    <h6>Магазин</h6>
                    <a href="#" class="score">{{good.shop}}</a>

                    <h6>Цена товара</h6>

                    <p class="price">{{good.price}} грн.</p>
                  </div>
                </div>
              </div>

              <form method="post" class="form_credit_terms links_form" action = {% url 'update_user_info' %}>
                {% csrf_token %}
                <input type="hidden" name='goods_link' value="{{goods_link}}">
                <p class="tabs_subtitle">Имя</p>
                <label><input type="text" name="first_name" placeholder="Ваше имя" required value="{% if user.first_name != None%}{{user.first_name}}{%endif%}"></label>

                <p class="tabs_subtitle">Фамилия</p>
                <label><input type="text" name="second_name" placeholder="Ваше имя" required value="{% if user.second_name != None%}{{user.second_name}}{%endif%}"></label>

                <p class="tabs_subtitle">Отчество</p>
                <label><input type="text" name="middle_name" placeholder="Ваше имя" required value="{% if user.middle_name != None%}{{user.middle_name}}{%endif%}"></label>

                <p class="tabs_subtitle">ИНН</p>
                <div class="mask_block">
                  <input type="text" name="inn" style = "width: 50%;" placeholder="ХXXXXXXXXX" value="{% if user.inn != None%}{{user.inn}}{%endif%}" required>
                  <!--input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required>
                  <input type="text" name="inn" placeholder="Х" required-->
                </div>

                <div class="line_form">
                  <div class="series bl_line">
                    <p class="tabs_subtitle">Серия</p>
                    <div class="mask_block">
                      <input type="text" name="passport_code" style = "width: 20%;" placeholder="ХX" required value="{% if user.passport_code != None%}{{user.passport_code}}{%endif%}">
                      <!--input type="text" name="series" placeholder="Х" required-->
                    </div>
                  </div>

                  <div class="number_id bl_line">
                    <p class="tabs_subtitle">№ паспорта</p>
                    <div class="mask_block">
                      <input type="text" name="passport_number" style = "width: 40%;" placeholder="ХXXXXX" required value="{% if user.passport_number != None%}{{user.passport_number}}{%endif%}">
                      <!-- <input type="text" name="number_id" placeholder="Х" required>
                      <input type="text" name="number_id" placeholder="Х" required>
                      <input type="text" name="number_id" placeholder="Х" required>
                      <input type="text" name="number_id" placeholder="Х" required>
                      <input type="text" name="number_id" placeholder="Х" required> -->
                    </div>
                  </div>
                </div>

                <div class="line_form">
                  <div class="bl_line">
                    <p class="tabs_subtitle">Дата рождения</p>
                    <div class="mask_block">
                      <input type="text" name="date_day" value="{% if user.birth_date != None%}{{user.birth_date.day}}{%endif%}">
                    </div>
                  </div>
                  <div class="bl_line">
                    <p class="tabs_subtitle">Месяц</p>
                    <div class="mask_block">
                      <input type="text" name="date_month" value="{% if user.birth_date != None%}{{user.birth_date.month}}{%endif%}">
                    </div>
                  </div>
                  <div class="bl_line">
                    <p class="tabs_subtitle">Год</p>
                    <div class="mask_block">
                      <input type="text" name="date_year" value="{% if user.birth_date != None%}{{user.birth_date.year}}{%endif%}">
                    </div>
                  </div>
                </div>

                <div class="line_form">

                  <div class="bl_line">
                    <p class="tabs_subtitle">Сумма кредита</p>
                    <div class="amount_of_credit">
                      <select>
                        <option value="6875грн">6875грн</option>
                        <option value="6890грн">6890грн</option>
                        <option value="7000грн">7000грн</option>
                      </select>
                    </div>
                  </div>

                  <div class="bl_line">
                    <p class="tabs_subtitle">У меня есть</p>
                    <div class="amount_of_credit">
                      <select>
                        <option value="875грн">875грн</option>
                        <option value="690грн">890грн</option>
                        <option value="700грн">700грн</option>
                      </select>
                    </div>
                  </div>

                  <div class="bl_line">
                    <p class="tabs_subtitle">Итоговая сумма</p>
                    <div class="amount_of_credit">
                      <select>
                        <option value="5673грн">875грн</option>
                        <option value="7000грн">7000грн</option>
                        <option value="10000грн">10000грн</option>
                      </select>
                    </div>
                  </div>
                </div>
<!-- 
                <p class="tabs_subtitle">Внос платежа</p>
                <div class="line_form line_check">
                  <label class="check">
                    <input type="checkbox" required>
                    <span>Раз в месяц</span>
                  </label>
                  <label class="check">
                    <input type="checkbox" required>
                    <span>Раз в неделю</span>
                  </label>
                  <label class="check">
                    <input type="checkbox" required>
                    <span>Раз в две недели</span>
                  </label>
                </div> -->

                <div class="line_form">
                  <div class="bl_line">
                    <p class="tabs_subtitle">Срок кредита</p>
                    <div class="credit_term">
                      <select>
                        <option value="6 мес">6 мес</option>
                        <option value="8 мес">8 мес</option>
                        <option value="10 мес">10 мес</option>
                      </select>
                    </div>
                  </div>
                  <div class="bl_line">
                    <p class="tabs_subtitle">Витрати</p>
                    <div class="credit_term">
                      <select>
                        <option value="4875грн">4875грн</option>
                        <option value="4900грн">4900грн</option>
                        <option value="5875грн">5875грн</option>
                      </select>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn">Подать заявку</button>

              </form>


              <span class="text_bottom_btn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</span>

            </div>

            <div class="tabs__content">
              <p class="tabs_subtitle">Товар</p>
              <a href="#" class="credit_terms_links"
                target="_blank">https://ru.aliexpress.com/item/-/32852063452?..</a>

              <div class="block_product_credit_terms">
                <div class="block_img">
                  <img src="{{good.photo}}" class="img-responsive" alt="">
                </div>
                <div class="block_text">
                  <h3 class="heading_title">{{good.name}}</h3>
                  <div class="product_options">
                    {{good.description}}
                  </div>

                  <div class="bl_bottom">
                    <h6>Магазин</h6>
                    <a href="#" class="score">{{good.shop}}</a>

                    <h6>Цена товара</h6>

                    <p class="price">{{good.price}} грн.</p>
                  </div>
                </div>
              </div>

              <form method="post" class="form_credit_terms links_form">
                <p class="tabs_subtitle">Адрес</p>
                <label><input type="text" name="address" placeholder="Ваш адрес" required></label>

                <p class="tabs_subtitle">Квартира</p>
                <label><input type="text" name="apartment" placeholder="Номер квартиры" required></label>

                <p class="tabs_subtitle">Номер телефона</p>
                <label><input type="text" name="phone" placeholder="Ваше телефон" required></label>

                <div class="line_form">
                  <div class="bl_line">
                    <p class="tabs_subtitle">Время доставки</p>
                    <div class="date">
                      <select>
                        <option value="с 14.30">с 14.30</option>
                        <option value="с 20.30">с 20.30</option>
                        <option value="с 19.30">с 19.30</option>
                      </select>
                    </div>
                  </div>
                  <div class="bl_line">
                    <p class="tabs_subtitle">Подтверждения по телефону </p>
                    <div class="month">
                      <select>
                        <option value="Да">Да</option>
                        <option value="Нет">Нет</option>
                      </select>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn">Сохранить</button>

              </form>


              <span class="text_bottom_btn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</span>

            </div>
          </div>

        </div>

      </div>


    </section>

  </div>

{% endblock content %}