{% extends "base_layout.html" %}

{% block content %}
  <div class="content">

    <section class="my_booking">
      <div class="container">

        <h2>Мои закази</h2>
        <div class="my_booking_content">

          {% for bid in bids %}
          
          <div class="item">
            <div class="block_product_credit_terms">
              <div class="block_img">
                <img src="{{bid.good.photo}}" class="img-responsive" alt="">
                <a href="#" class="favorites">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <p>Избранное</p>
                </a>
              </div>
              <div class="block_text">
                <h3 class="heading_title">{{bid.good.name}}</h3>
                <div class="product_options">
                  {{bid.good.description}}
                </div>

                <div class="bl_bottom">
                  <h6>Магазин:</h6>
                  <a href="#" class="score">{{bid.good.shop}}</a>
                </div>

                <div class="bl_bottom">
                  <h6>Цена товара:</h6>
                  <p class="price">{{bid.good.price}} грн.</p>
                </div>

                <div class="bl_bottom credit_is_given">
                  <h6>Кредит надают:</h6>
                  <a href="#" class="active">КредитОнлайн</a>
                  <a href="#" class="active">ШвидкоГроші</a>
                  <a href="#" class="active">КредитОнлайн</a>
                  <a href="#">КредитОнлайн</a>
                  <a href="#">КредитОнлайн</a>

                </div>
              </div>
            </div>
            <div class="block_of_stores online_credit">
              <p class="free_shipping">КредитОнлайн</p>

              <h3 class="heading_title">{{bid.good.name}}</h3>

              <div class="monthly_payment">
                <div class="amount">563</div>
                <div class="text">
                  <p>грн/мес</p>
                  <span>5 платежей</span>
                </div>
              </div>

              <div class="full_price">
                <p>Полная цена:</p>
                <span>{{bid.good.price}} грн.</span>
              </div>
              {% if bid.request.is_accepted %}
                 <a href="#" class="credit_btn btn_active">{{bid.request.status.name}}</a>
              {% else %}
                    <a href="#" class="credit_btn btn_not_active">{{bid.request.status.name}}</a>
                    <span id="timer{{bid.request.pk}}" class="heading_title"></span>
                      {% if bid.timer %}
                      <script>
                          var hour{{bid.request.pk}} = {{bid.minutes_left}};
                          var sec{{bid.request.pk}} = {{bid.seconds_left}};
                          setInterval(function() {
                            if (hour{{bid.request.pk}} == 0){
                              if(sec{{bid.request.pk}}==1){
                                document.getElementById("timer{{bid.request.pk}}").innerHTML = "00 : 00";
                                return 0;
                              }
                            }
                            document.getElementById("timer{{bid.request.pk}}").innerHTML = hour{{bid.request.pk}} + " : " + sec{{bid.request.pk}};
                            sec{{bid.request.pk}}--;
                            if (sec{{bid.request.pk}} == 00) {
                              hour{{bid.request.pk}}--;
                              sec{{bid.request.pk}} = 60;
                              if (hour{{bid.request.pk}} == 0) {
                                hour{{bid.request.pk}} = 2;
                              }
                            }
                          }, 1000);
                      </script>
                      
                      {% else %}
                      {% endif %}
                    </div>
             {% endif %}
              </div>
              {% endfor %}

        </div>

      </div>


    </section>

  </div>

{% endblock content %}
