{% extends "base_layout.html" %}
{% block content %}

  <div class="content">

    <section class="instruction text_page">
      <div class="container">
        <h2>Текстовая страница</h2>
      </div>
    </section>

    <section class="text_page_wrapper">
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto autem consequuntur dignissimos
          dolorum ea enim et, eveniet fuga iste itaque natus nostrum possimus quam quidem, reprehenderit totam veritatis
          vero?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus in iure labore quisquam quo! Commodi
          consequuntur explicabo facere hic veniam. Consequatur maiores ullam unde velit! Laudantium non quos
          reprehenderit?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus in iure labore quisquam quo! Commodi
          consequuntur explicabo facere hic veniam. Consequatur maiores ullam unde velit! Laudantium non quos
          reprehenderit?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus in iure labore quisquam quo! Commodi
          consequuntur explicabo facere hic veniam. Consequatur maiores ullam unde velit! Laudantium non quos
          reprehenderit?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus in iure labore quisquam quo! Commodi
          consequuntur explicabo facere hic veniam. Consequatur maiores ullam unde velit! Laudantium non quos
          reprehenderit?</p>
      </div>
    </section>

  </div>

{% endblock content %}
